<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Details</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/details.js"></script>
    <link href="css/fontawesome.min.css" rel="stylesheet"/>
    <link href="css/all.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            <img src="images/cb_logo_bug_white.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            FullText Search Capabilities
        </a>
    </nav>
    <nav class="navbar navbar-dark bg-light">
        <a class="btn btn-outline-dark" href="/upload" role="button">Upload File  <i class="fas fa-upload"></i></a>
        <a class="btn btn-outline-dark" href="/search" role="button">Search Content  <i class="fab fa-searchengin"></i></a>
    </nav>
    <div>
        <h1>File's Details</h1>
    </div>
</div>
</body>
</html>